<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>    
    </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--=========================================================================================-->
    <add key="LocalPath" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\LanguageAdministration\language\"/>
    <add key="CurrentStatus" value="live"/>
    <add key="RecursoWeb" value="395"/>
    <add key="rootDocumentos" value="\\svm_cifs.batz.es\AreaWeb\DATA\TEST\DOB\DOCUMENTOS"/>    
    <add key="IdGrupoConsejoRector" value="379"/>    
    <add key="IdGrupoSeguimiento" value="333"/>
    <add key="mailFrom" value="dob@batz.es"/>
    <add key="UserExchange" value="tareas"/>
    <add key="PassExchange" value="tareas123"/>
  </appSettings>
  <connectionStrings>
    <add name="SABTEST" connectionString="Data Source=GARAPEN;User Id=sab;Password=sab12;Connection LifeTime=300;"/>    
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;"/>
    <add name="DOBTEST" connectionString="Data Source=GARAPEN;User Id=dob1;Password=dob112;Connection LifeTime=300;"/>
    <add name="DOBLIVE" connectionString="Data Source=XBAT;User Id=dob;Password=dob12;Connection LifeTime=300;"/>    
    <add name="GESTIONIKSTEST" connectionString="Data Source=GARAPEN;User Id=gestioniks;Password=gestioniks12;Connection LifeTime=300;"/>
    <add name="GESTIONIKSLIVE" connectionString="Data Source=XBAT;User Id=gestioniks;Password=gestioniks12;Connection LifeTime=300;"/>    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6" maxRequestLength="5120"/>    
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
</configuration>
