<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="AccederEnLocal" value="true"/>
    <add key="LocalPath" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\LanguageAdministration\languageapp\"/>
    <add key="IDRECURSO" value="243"/>
    <add key="navision_mail" value="diglesias@batz.es"/>
    <add key="formatocarta"
      value="[{'cultura' : 'es-ES', 'fecha' : 'Igorre, {0}', 'saludo' : 'Estimados Señores/Sras:', 'explicacion': 'Adjuntamos nuestras siguientes facturas:', 'facturas': '   - {0} correspondiente a su pedido no. {1}', 'despedida' : 'Sin otro particular, aprovechamos la ocasión para saludarles atentamente,', 'firma':'Dpto. Comercial'},                                     {'cultura' : 'en-GB', 'fecha' : 'Igorre, {0}', 'saludo' : 'Dear Sir/Madam,', 'explicacion': 'Please find attached our following invoices:', 'facturas': '   - {0} according to your PO no. {1}', 'despedida' : 'Best regards,', 'firma':'Commercial Dpt.'},                                     {'cultura' : 'de-DE', 'fecha' : 'Igorre, den {0}', 'saludo' : 'Sehr geehrte Damen und Herren,', 'explicacion': 'beigefügt erhalten Sie unsere folgende Rechnung:', 'facturas': '   - Rechnung Nr. {0} entsprechend Ihrer Bestellung nr. {1}', 'despedida' : 'Mit freundlichen Grüssen', 'firma':'Vertriebsabteilung (Batz, S.Coop.)'}]"/>
    <!--<add key="RutaFacturasQR" value="\\svm_cifs.batz.es\areaweb\KK\Facturas" />-->
    <add key="RutaFacturasQR" value="\\kamaraka.batz.es\Facturas_TicketBai" />
    <add key="FacturaProforma" value="Factura_Proforma.pdf" />
  </appSettings>
  <connectionStrings>
    <!--<add name="salmentafakturazioa" connectionString="Data Source=garapen;User Id=salmentafakturazioa;Password=salmentafakturazioa12;"/>-->
    <add name="salmentafakturazioa" connectionString="Data Source=garapen;User Id=salmentafakturazioa;Password=salmentafakturazioa12;"/>
    <add name="NAVISION" connectionString="Data Source=btzsqldb2\mssqlins2;database=NavIgorre2016;User Id=NavWrite;Password=x3q73M3L;"/>
    <add name="NAVREAD" connectionString="Data Source=BTZSQLDB2\MSSQLINS2;Initial Catalog=NavIgorre2016;User Id=NavRead;Password=L4ubZ206;Connection LifeTime=300;"/>
<!--test-->
    <!--connectionString="metadata=res://*/EFXbat.csdl|res://*/EFXbat.ssdl|res://*/EFXbat.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=garapen;PASSWORD=12xbat12;USER ID=xbat&quot;" providerName="System.Data.EntityClient"      ></add>-->
    <!--pro
    connectionString="metadata=res://*/EFXbat.csdl|res://*/EFXbat.ssdl|res://*/EFXbat.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=XBAT;PASSWORD=12xbat12;USER ID=xbat&quot;" providerName="System.Data.EntityClient"></add>-->
    <add name="Entities1"
        connectionString="metadata=res://*/EFXbat.csdl|res://*/EFXbat.ssdl|res://*/EFXbat.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=garapen;PASSWORD=12xbat12;USER ID=xbat&quot;" providerName="System.Data.EntityClient"      ></add>
         
     <!--<add name="Entities1"
      connectionString="metadata=res://*/EFXbat.csdl|res://*/EFXbat.ssdl|res://*/EFXbat.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=xbat;PASSWORD=12xbat12;USER ID=xbat&quot;"
      providerName="System.Data.EntityClient"/>-->
    <!--<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle"/>-->
  </connectionStrings>
  <system.web>
    <httpRuntime/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <authentication mode="Windows">
      <forms timeout="570" name="salmenfak"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <machineKey validationKey="3E3DA7EB9047DB7342F71E36775B1322A4878330E8696624F8579F6F0275F99A36D6BD0A8733DB443EE6F4F35B5A2797932BC8C9923A076FFE640F1843915CD3"
      decryptionKey="72E9E02B6CBA3B37F703FEE9EC5C8341308FA919D7AB0CEE"/>
  </system.web>
  <system.webServer>
    <!--<security>
      <authentication>
        <windowsAuthentication enabled="true"/>
        <anonymousAuthentication enabled="false"/>
      </authentication>
    </security>-->
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule"
        scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32"
        responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule"
        scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64"
        responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
        type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="Oracle.ManagedDataAccess.EntityFramework.OracleConnectionFactory, Oracle.ManagedDataAccess.EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Oracle.ManagedDataAccess.Client"
        type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>