<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog"
        type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
        initializeData="FileLogWriter"/>
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="Entities_Epsilon"
      connectionString="metadata=res://*/SQL_Server.Epsilon.Epsilon.csdl|res://*/SQL_Server.Epsilon.Epsilon.ssdl|res://*/SQL_Server.Epsilon.Epsilon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=arrabakoate.batz.es;initial catalog=bd_epsilon;persist security info=True;user id=usr_epsilon_r;password=uYGf2eq5oA;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <!--<add name="Entities_BRAIN" connectionString="metadata=res://*/DB2.BRAIN.csdl|res://*/DB2.BRAIN.ssdl|res://*/DB2.BRAIN.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;Provider=IBMDA400.DataSource.1;Data Source=LEKANDA.batz.es;Persist Security Info=True;OLE DB Services=-13;User ID=COGNOS;Password=cognos07;Initial Catalog=S06C4B9P;Catalog Library List=CUBOS&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities_Gertakariak" connectionString="metadata=res://*/Oracle.Gertakariak.Gertakariak.csdl|res://*/Oracle.Gertakariak.Gertakariak.ssdl|res://*/Oracle.Gertakariak.Gertakariak.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=GARAPEN;PASSWORD=incidencias12;USER ID=INCIDENCIAS;VALIDATE CONNECTION=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities_XBAT" connectionString="metadata=res://*/Oracle.XBAT.XBAT.csdl|res://*/Oracle.XBAT.XBAT.ssdl|res://*/Oracle.XBAT.XBAT.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=GARAPEN;PASSWORD=12XBAT12;PERSIST SECURITY INFO=True;USER ID=XBAT&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_SAB" connectionString="metadata=res://*/Oracle.XBAT.SAB.csdl|res://*/Oracle.XBAT.SAB.ssdl|res://*/Oracle.XBAT.SAB.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=GARAPEN;password=sab12;persist security info=True;user id=SAB&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Gertakariak" connectionString="metadata=res://*/Oracle.Gertakariak.Gertakariak.csdl|res://*/Oracle.Gertakariak.Gertakariak.ssdl|res://*/Oracle.Gertakariak.Gertakariak.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=GARAPEN;PASSWORD=incidencias12;PERSIST SECURITY INFO=True;USER ID=INCIDENCIAS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_FROGA" connectionString="metadata=res://*/Oracle.Gertakariak.Froga.csdl|res://*/Oracle.Gertakariak.Froga.ssdl|res://*/Oracle.Gertakariak.Froga.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=GARAPEN;PASSWORD=incidencias12;PERSIST SECURITY INFO=True;USER ID=INCIDENCIAS&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities_Prisma"
      connectionString="metadata=res://*/Oracle.XBAT.Prisma.csdl|res://*/Oracle.XBAT.Prisma.ssdl|res://*/Oracle.XBAT.Prisma.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=GARAPEN;password=prisma312;persist security info=True;user id=prisma3&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="Entities_Gertakariak"
      connectionString="metadata=res://*/Oracle.Gertakariak.Gertakariak.csdl|res://*/Oracle.Gertakariak.Gertakariak.ssdl|res://*/Oracle.Gertakariak.Gertakariak.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=GARAPEN;PASSWORD=incidencias12;USER ID=incidencias;VALIDATE CONNECTION=True&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client"
      connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Oracle.ManagedDataAccess.Client"
        type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196"/>
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
