<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CurrentStatus" value="Debug"/>
    <add key="log4netPath" value="C:\Trunk_4\SBatz\Automantenimiento\AutomntoServer\log4netConfig.config"/>
    <add key="IdPlanta" value="1"/>
  </appSettings>
  <connectionStrings>    
    <add name="AUTOMNTOTEST" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=igalirrintza.batz.es)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=garapen)));User Id=automnto;Password=automnto12;Connection LifeTime=300;"/>
    <add name="AUTOMNTOLIVE" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=ora19-scan)(PORT=1523))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic)(RETRIES=10)(DELAY=1))(SERVER=dedicated)(SERVICE_NAME=xbatsrv.batz.es)));User Id=automnto;Password=automnto12;Connection LifeTime=300;"/>
  </connectionStrings>
</configuration>
