<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<log4net debug="true" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <root>
      <appender-ref ref="SmtpAppender" xdt:Transform="Insert" xdt:Locator="Match(ref)" />
    </root>
  </log4net>-->
</configuration>