.MyTabStyle {
 /*margin-top:20px;*/
}

.MyTabStyle .ajax__tab_header
{
    font-family: "Helvetica Neue" , Arial, Sans-Serif;
    font-size: 14px;
    font-weight:bold;
    display: block;
    background-color: #91A0A7;
}

.MyTabStyle a.ajax__tab_tab{ color: #fff !important; }

    .MyTabStyle span.ajax__tab_inner, .MyTabStyle a.ajax__tab_tab {
        background-image: none !important;
    }

.MyTabStyle .ajax__tab_header .ajax__tab_outer
{
    border-color: #222;
    /*color: #222;*/
    color: #ffffff;
    padding-left: 10px;
    margin-right: 3px;
    border:solid 1px #ffffff;
    color:red;
}
.MyTabStyle .ajax__tab_header .ajax__tab_inner
{
    border-color: #666;
    /*color: #666;*/
    padding: 3px 10px 2px 0px;
}
.MyTabStyle .ajax__tab_hover .ajax__tab_outer
{
    background-color:#9c3;
}
.MyTabStyle .ajax__tab_hover .ajax__tab_inner
{
    color: #fff;
}
.MyTabStyle .ajax__tab_active .ajax__tab_outer
{
    /*border-bottom-color: #ffffff;*/
    border-bottom-color: #ffffff;
    background-color: #5D7B9D;
    
}
.MyTabStyle .ajax__tab_active .ajax__tab_inner
{
    color: #ffffff;
    border-color: #333;
}
.MyTabStyle .ajax__tab_body
{
    font-family: verdana,tahoma,helvetica;
    font-size: 12px;
    background-color: #fff;
    border-top-width: 0;
    border: solid 1px #d7d7d7;
    border-top-color: #ffffff;
}
