<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre el uso de la transformación de web.config, visite http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="CurrentStatus" value="live" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RecursoWeb" value="376" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="rootFacturas" value="\\svm_cifs\AreaWeb\DATA\PRO\AutoFactuProv" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="buzonFacturasSistemas" value="InvoicesSis@batz.es" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
  </appSettings>

  <connectionStrings>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@name, 'TEST'))" connectionString="" name="" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.webServer xdt:Transform="Insert">
    <security>
      <authentication>
        <windowsAuthentication enabled="false"  />
        <anonymousAuthentication enabled="true" />
      </authentication>
    </security>
  </system.webServer>
</configuration>