<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DATOSPLANTA" connectionString="Data Source=BTZSQLDB1\MSSQLINS1;database=DATOS_PLANTA;User Id=BtzSqlDbOwner;Password=MvCUAYpY74zK;Connection LifeTime=300;Connection Timeout=1" />
    <add name="BRAIN" connectionString="Provider=IBMDA400;Data Source=LEKANDA.batz.es;User Id=COGNOS;Password=cognos07;"/>
  </connectionStrings>
  <appSettings>
    <add key="DisconnectionTimer" value="30000" />
    <add key="TimerInterval" value="6000" />
    <add key="PortName" value="COM4" />
    <add key="Status" value="PRODUCTION"/>
  </appSettings>
</configuration>