<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebLogin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--jgalan@batz.es<add key="Administradores" value="batznt\jgalan;batznt\jzarraga"/>-->
    <add key="LinkInicioSolicitudesCR" value="https://intranet2.batz.es/SolicitudesCR" />
    <add key="RecursoSolicitudesCR" value="425" />
    <!--<add key="administrar" value="9963690"/>-->

    <add key="RRHH" value="61814;63690" />    
    <!--<add key="comite" value="61814"/>-->	
    <!-- Le saldra el link de crear roles a plantas -->
    <add key="ConfigFiles" value="\\svm_cifs\AreaWeb\DATA\PRO\LanguageAdministration\" />
    <add key="LanguageFile" value="\\svm_cifs\AreaWeb\DATA\PRO\LanguageAdministration\language\" />
    <add key="CurrentStatus" value="Debug" />
    <add key="Superusuarios" value="198,920,509,2960,1101,1000038,3135" />    
    <add key="presidencia" value="61814" />
    <add key="emailpresidencia" value="99jgalan@batz.es;99anderbilbao@batz.es" />
    <add key="AccederEnLocal" value="true" />
   <add key="PathFicherosSubir" value="\\svm_cifs\AreaWeb\APPS\TEST\INT\ADOKNET\Web\Ficheros\" />    
   <add key="PathFicherosBajar" value="https://intranet-test.batz.es/ADOKNET/Ficheros/" />    
    
    <add key="LocalPath" value="\\svm_cifs\AreaWeb\DATA\PRO\LanguageAdministration\language\" />
    <!--   <add key="email" value="jgalan@batz.es"/>-->
    <!-- Le mandara mail cada entrada jgalan@batz.es -->

    <add key="emailRRHH" value="jzarraga@batz.es;abelgarcia@batz.es" />
    <!--<add key="urldocES" value="https://intranet2.batz.es/CEtico/Ficheros/01 codigo conducta_ES.pdf" />
    <add key="urldocEU" value="https://intranet2.batz.es/CEtico/Ficheros/01 codigo conducta_EUSK.pdf" />
    <add key="urldocEN" value="https://intranet2.batz.es/CEtico/Ficheros/01 codigo conducta_EN.pdf" />-->
  </appSettings>
  <connectionStrings>
    <add name="XBATLIVE" connectionString="Data Source=XBAT;User Id=xbat;Password=12xbat12;" />
    <add name="XBATTEST" connectionString="Data Source=GARAPEN;User Id=xbat;Password=12xbat12;" />
    <add name="SABTEST" connectionString="Data Source=GARAPEN;User Id=sab;Password=sab12;" />
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;" />
   <!--<add name="GESTIONHORASLIVE" connectionString="Data Source=XBAT;User Id=gestionhoras;Password=gestionhoras12;" />
    <add name="GESTIONHORASTEST" connectionString="Data Source=GARAPEN;User Id=gestionhoras;Password=gestionhoras12;" />
    <add name="COMPETENCIASLIVE" connectionString="Data Source=XBAT;User Id=competencias;Password=competencias12;" />
    <add name="COMPETENCIASTEST" connectionString="Data Source=GARAPEN;User Id=competencias;Password=competencias12;" />
    <add name="AHOLKUTEST" connectionString="Data Source=GARAPEN;User Id=aholku;Password=aholku12;" />
    <add name="AHOLKU" connectionString="Data Source=XBAT;User Id=aholku;Password=aholku12;" />-->
    <add name="solicitudescrTEST" connectionString="Data Source=GARAPEN;User Id=solicitudescr;Password=solicitudescr12;" />
    <add name="solicitudescrLIVE" connectionString="Data Source=XBAT;User Id=solicitudescr;Password=solicitudescr12;" />
  
  </connectionStrings>
  <system.web>
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este proceso 
            afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.

            Opciones de Visual Basic:
            Establezca strict="true" para no permitir las conversiones de todos los tipos de datos 
            donde se pueda producir una pérdida de datos. 
            Establezca explicit="true" para forzar la declaración de todas las variables.
        -->
    <compilation strict="false" explicit="true" targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages theme="Tema1" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
      <controls>
        <add tagPrefix="act" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
    <authentication mode="Windows" />
    <globalization culture="auto" uiCulture="auto" />
  </system.web>
  <applicationSettings>
    <WebLogin.My.MySettings>
      <setting name="WebLogin_wslocalization_Dictionary" serializeAs="String">
        <value>http://xbi.batz.es/localization/Dictionary.asmx</value>
      </setting>
    </WebLogin.My.MySettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.121.1.0" newVersion="4.121.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>