<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section  name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net debug="true">

    <!--RollingFileAppender escribe todos los tipos de error-->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- ** Ruta y Nombre del Archivo **************************************************** -->
      <!--<file value=".\Logs\Log"/>-->
      <file value="\\svm_cifs\AreaWeb\APPS\TEST\INT\MatrizPuesto\Web\Logs\Log"/>
      <!-- mas adelante poner  \PRE\INT\ADOKNET\Web\Logs\Log y crear directorios -->
      <!--Extension del Archivo-->
      <datePattern value="'.'yyyy-MM-dd'.log'" />
      <!-- ********************************************************************************* -->
      <appendToFile value="true"/>
      <staticLogFileName value="false" />
      <maximumFileSize value="100KB"/>
      <maxSizeRollBackups value="2"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date{HH:mm} %level %property{log4net:HostName} %username %logger %class - %message %newline"/>-->
        <!-- Patron estardar para escribir el mensaje en los Logs -->
        <conversionPattern value="%date{HH:mm:ss} %level %property{log4net:HostName} %identity %class -%message%newline"/>
      </layout>
      <!--<filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>-->
    </appender>

    <!--SmtpAppender solo envia correos de error del tipo "ERROR" y "FATAL"-->
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
      <to value="" />
      <from value="log4net@batz.es" />
      <subject value="Error en .NET" />
      <smtpHost value="kutxak.elkarekin.com" />
      <bufferSize value="512" />
      <lossy value="false" />
      <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="WARN" />
      </evaluator>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <!--<conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />-->
        <!--<conversionPattern value=" Level: %level  %newline Logger: %logger %newline Class: %class  %newline Message: %message" />-->
        <!--<conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />-->
        <!--<conversionPattern value="%newline Usuario: %property{log4net:HostName} %newline Nivel: %level %newline Logger: %logger %newline Date: %date %newline Clase: %class  %newline Message: %message" />-->
        <conversionPattern value="Fecha: %date %newline Nivel: %level %newline Logger: %logger %newline Maquina: %property{log4net:HostName} %newline Usuario: %username (%identity)  %newline Clase: %class %newline  Message: %message%newline"/>
      </layout>
    </appender>

    <!--AspNetTraceAppender escrice mensajes en el TraceContext si el seguimiento esta activado-->
    <appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender,log4net" >
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <!--<appender name="TraceAppender" type="log4net.Appender.TraceAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>      
    </appender>-->


    <root>
      <!--<level value="ALL"/>-->
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="SmtpAppender"/>
      <appender-ref ref="AspNetTraceAppender"/>
      <!--<appender-ref ref="TraceAppender"/>-->
    </root>

  </log4net>
</configuration>