<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CurrentStatus" value="Live"/>
    <add key="log4netPath" value="C:\Tools\AutomntoServer\log4netConfig.config"/>
    <add key="IdPlanta" value="1"/>
  </appSettings>
  <connectionStrings>    
    <add name="AUTOMNTOLIVE" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=oracle-cluster)(PORT=1523))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic)(RETRIES=10)(DELAY=1))(SERVER=dedicated)(SERVICE_NAME=xbat)));User Id=automnto;Password=automnto12;Connection LifeTime=300;"/>														   
  </connectionStrings>
</configuration>
