<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </configSections>
  <appSettings>
    <add key="AccederEnLocal" value="true" />
    <add key="LocalPath" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\LanguageAdministration\language\" />
    <add key="RecursoWeb" value="339" />
    <add key="CurrentStatus" value="Live" />
    <add key="Administradores" value="63073,64395" />
  </appSettings>
  <connectionStrings>
  <add name="SABTEST" connectionString="Data Source=GARAPEN;User Id=sab;Password=sab12;Connection LifeTime=300;" />
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;" />
    <add name="DESIGNFMEATEST" connectionString="Data Source=GARAPEN;User Id=designfmea;Password=designfmea12;" />
    <add name="DESIGNFMEALIVE" connectionString="Data Source=XBAT;User Id=designfmea;Password=designfmea12;" />
    <add name="LECCIONESAPRENDIDASTEST" connectionString="Data Source=GARAPEN;User Id=leccionesaprendidas;Password=leccionesaprendidas12;Connection LifeTime=300;" />
    <add name="LECCIONESAPRENDIDASLIVE" connectionString="Data Source=XBAT;User Id=leccionesaprendidas;Password=leccionesaprendidas12;Connection LifeTime=300;" />
    <add name="BONOSISTEST" connectionString="Data Source=GARAPEN;User Id=bonosis;Password=bonosis12;" />
    <add name="BONOSISLIVE" connectionString="Data Source=XBAT;User Id=bonosis;Password=bonosis12;" />
    <add name="BRAIN" connectionString="Provider=IBMDA400;Data Source=LEKANDA.batz.es;User Id=cognos;Password=cognos07;" />
  <!--
    <add name="SABTEST" connectionString="Data Source=XBAT;User Id=sab;Password=SAB12;Connection LifeTime=300;"/>
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;"/>
    <add name="DESIGNFMEATEST" connectionString="Data Source=XBAT;User Id=designfmea;Password=designfmea12;"/>
    <add name="DESIGNFMEALIVE" connectionString="Data Source=XBAT;User Id=designfmea;Password=designfmea12;"/>
    <add name="LECCIONESAPRENDIDASTEST" connectionString="Data Source=XBAT;User Id=leccionesaprendidas;Password=lecciones12;Connection LifeTime=300;"/>
    <add name="LECCIONESAPRENDIDASLIVE" connectionString="Data Source=XBAT;User Id=leccionesaprendidas;Password=lecciones12;Connection LifeTime=300;"/>
    <add name="BONOSISTEST" connectionString="Data Source=XBAT;User Id=bonosis;Password=bonosis12;"/>
    <add name="BONOSISLIVE" connectionString="Data Source=XBAT;User Id=bonosis;Password=bonosis12;"/>
    <add name="BRAIN" connectionString="Provider=IBMDA400;Data Source=LEKANDA.batz.es;User Id=cognos;Password=cognos07;"/>-->
  </connectionStrings>
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!--<add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />-->
        <add tagPrefix="Loc" namespace="LocalizationLib2" assembly="LocalizationLib2" />
        <add tagPrefix="tit" tagName="Titulo" src="~/Controles/Titulo.ascx" />
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
    <trace enabled="false" pageOutput="true" requestLimit="50" localOnly="false" mostRecent="true" traceMode="SortByTime" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>