<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CurrentStatus" value="Live"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="Administradores" value="63073"/>
  </appSettings>
  <connectionStrings>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@name,'TEST'))" connectionString="" name="" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)"/>
  </system.web>
  <system.webServer xdt:Transform="Insert">
    <security>
      <authentication>
        <windowsAuthentication  enabled="true"  />
        <anonymousAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
</configuration>