<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="LocalPath" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\LanguageAdministration\language\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>        
    <add key="idrecurso" value="313" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="navsilon" connectionString="Data Source=btzsqldb1\MSSQLINS1;database=NaPsilon;User Id=BtzSqlLoginWriter;Password=btzsw;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></add>
    <add name="epsilon" connectionString="Data Source=arrabakoate.batz.es;database=bd_epsilon;User Id=usr_epsilon_r;Password=uYGf2eq5oA;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></add>
    <add name="sab" connectionString="Data Source=garapen;User Id=sab;Password=sab12; " xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></add>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Insert"></customErrors>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>