<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="oracle" connectionString="user id=sab;password=sab12;data source=XBAT" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>            
  </connectionStrings>
  <appSettings>    
    <add key="rhtables" value="X500PRDSD"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="sabprov" value="365"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="recurso" value="109"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="sabprovgrupo" value="296" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="Insert"></customErrors>
  </system.web>
	<system.webServer>
		<security xdt:Transform="Insert">
			<authentication>
				<windowsAuthentication  enabled="true"  />
				<anonymousAuthentication enabled="false" />
			</authentication>
		</security>
	</system.webServer>
</configuration>