<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>        
    <add key="sabprov" value="346"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="sabprovgrupo" value="296" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="oracle" connectionString="user id=sab;password=sab12;data source=GARAPEN" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	<add name="grupomaterial" connectionString="user id=grupomaterial;password=grupomaterial12;data source=GARAPEN" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Insert"></customErrors>
  </system.web>
	<system.webServer>
		<security xdt:Transform="Insert">
			<authentication>
				<windowsAuthentication  enabled="true"  />
				<anonymousAuthentication enabled="false" />
			</authentication>
		</security>
	</system.webServer>
</configuration>