<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TarjetasVisitaLib.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections> 
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--=========================================================================================-->
    <add key="LocalPath" value="\\svm_cifs\AreaWeb\DATA\PRO\LanguageAdministration\language\" />
    <add key="CurrentStatus" value="live" />
    <add key="RecursoWeb" value="489" />   <!-- test 475 ; real 489-->
    <add key="UsuariosCambio" value="batznt\diglesias,batznt\abelgarcia" />
    <add key="MailFrom" value="tarjetasvisita@batz.es" />
    <add key="UserExchange" value="tareas" />
    <add key="PassExchange" value="tareas123" />
    <add key="urlDatosPKS" value="https://ganekozabal.batz.es/pks/json/getpuestoasignadoatrabajador?idsab=" />
    <add key="MailToComprasSistemas" value="abelgarcia@batz.es" />
    <add key="MailToComprasTroqueleria" value="abelgarcia@batz.es" />
  </appSettings>
  <connectionStrings>
    <add name="SABTEST" connectionString="Data Source=GARAPEN;User Id=sab;Password=sab12;Connection LifeTime=300;" />    
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;" />
    <add name="TARJETASTEST" connectionString="Data Source=GARAPEN;User Id=txartelak;Password=txartelak12;Connection LifeTime=300;" />
    <add name="TARJETASLIVE" connectionString="Data Source=XBAT;User Id=txartelak;Password=txartelak12;Connection LifeTime=300;" />
  </connectionStrings>
  <system.web>    
    <!--<compilation debug="true" targetFramework="4.6"/>-->
    <httpRuntime targetFramework="4.6" maxRequestLength="5120" />
    <trace enabled="true" pageOutput="true" localOnly="true" />
  </system.web>
  <runtime>    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
        <dependentAssembly>    
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />    
            <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />    
        </dependentAssembly>    
        <dependentAssembly>    
            <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />    
            <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />    
        </dependentAssembly>    
        <dependentAssembly>    
            <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />    
            <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />    
        </dependentAssembly>    
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TarjetasVisitaLib.My.MySettings>
      <setting name="TarjetasVisitaLib_ServicioTelefonia_ServiceTelefonia1" serializeAs="String">
        <value>https://intranet2.batz.es/Telefonia/Services/ServiceTelefonia.asmx</value>
      </setting>
    </TarjetasVisitaLib.My.MySettings>
  </applicationSettings>
  <location path="WebService">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>  
</configuration>
