<?xml version="1.0"?>
<configuration>    
  <appSettings>
    <add key="CurrentStatus" value="Debug"/>
    <add key="emailNominas" value="nominas@batz.es"/>
    <add key="log4netPath" value="C:\Proyectos\Batz\Trunk_4\SBatz\Nominas\Procesar10T\log4netConfig.config"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="SABTEST" connectionString="Data Source=GARAPEN;User Id=sab;Password=sab12;Connection LifeTime=300;"/>
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;"/>-->
    <add name="SABTEST" connectionString="Data Source=GARAPEN;User Id=sab;Password=SAB12;Connection LifeTime=300;"/>
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;"/>
    <!--<add name="GESTIONHORASTEST" connectionString="User Id=gestionhoras;Password=gestionhoras12;Data Source=GARAPEN;"/>
    <add name="GESTIONHORASLIVE" connectionString="User Id=gestionhoras;Password=gestionhoras12;Data Source=XBAT;"/>-->
    <add name="GESTIONHORASTEST" connectionString="Data Source=GARAPEN;User Id=gestionhoras;Password=gestionhoras12;Connection LifeTime=300;"/>    
    <add name="GESTIONHORASLIVE" connectionString="Data Source=XBAT;User Id=gestionhoras;Password=gestionhoras12;Connection LifeTime=300;"/>
  </connectionStrings>
</configuration>
