<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section  name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net debug="true">		
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file value="\\svm_cifs\AreaWeb\LOGS\TEST\INT\Nominas\Proc10T\Log"/><!--Rutan y Nombre del Archivo-->
      <datePattern value="'.'yyyy-MM-dd'.log'" />
			<appendToFile value="true"/>
			<staticLogFileName value="false" />
			<maximumFileSize value="1MB"/>
			<maxSizeRollBackups value="10"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{HH:mm} %level %logger - %message %newline"/>
			</layout>		
		</appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="diglesias@batz.es" />
      <from value="log4net@batz.es" />
      <subject value="Error Proceso 10T" />
      <smtpHost value="posta.batz.com" />
      <bufferSize value="512" />
      <lossy value="false" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date{HH:mm:ss} - %level %newline Logger: %logger %newline %newline Clase: %class  %newline Message: %message" />
      </layout>
    </appender>
    <root>
      <priority value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
	</log4net>
</configuration>