<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre el uso de la transformación de web.config, visite http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CurrentStatus" value="Debug" />
    <add key="LocalPath" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\LanguageAdministration\languageApp\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <connectionStrings>
      <add name="Entities_Gertakariak" connectionString="metadata=res://*/Oracle.Gertakariak.Gertakariak.csdl|res://*/Oracle.Gertakariak.Gertakariak.ssdl|res://*/Oracle.Gertakariak.Gertakariak.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=garapen;password=incidencias12;user id=incidencias;validate connection=True&quot;" providerName="System.Data.EntityClient" />
	  <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="SABTEST" connectionString="Data Source=GARAPEN;User Id=sab;Password=SAB12;Connection LifeTime=300;"/>
	  <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@name, 'LIVE'))" connectionString="" name="" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(assemblyPostProcessorType)"/>
  </system.web>
  <system.webServer>
    <security xdt:Transform="Insert">
      <authentication>
        <windowsAuthentication  enabled="true"  />
        <anonymousAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
  <log4net>
    <appender>
      <file xdt:Transform="SetAttributes" value="\\svm_cifs.batz.es\AreaWeb\LOGS\TEST\INT\Istriku\Log"/>
    </appender>
    <root>
      <appender-ref xdt:Transform="Remove" xdt:Locator="Match(ref)"  ref="SmtpAppender"/>
      <appender-ref xdt:Transform="Insert" ref="SmtpAppender"/>
    </root>
  </log4net>
</configuration>