<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IstrikuWebRaiz.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <!-- Sistema de traduccion ==================================================================-->
    <add key="AccederEnLocal" value="true" />
    <add key="LocalPath" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\LanguageAdministration\languageApp\" />
    <!--=========================================================================================-->
    <add key="RecursoWeb" value="334" />
    <add key="CurrentStatus" value="Live" />
    <add key="Microsoft.VisualStudio.Enterprise.AspNetHelper.VsInstrLocation" value="C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Team Tools\Performance Tools\vsinstr.exe" />
    <add key="plantasActivas" value="1,5,47" />
    <add key="developers" value="63690;64395;70280;70281" />	
	</appSettings>
  <connectionStrings>
    <!--<add name="ConexionWeb_TEST" connectionString="DATA SOURCE=XBAT;PASSWORD=incidencias12;PERSIST SECURITY INFO=True;USER ID=INCIDENCIAS" />
    <add name="ConexionWeb_LIVE" connectionString="DATA SOURCE=XBAT;PASSWORD=incidencias12;PERSIST SECURITY INFO=True;USER ID=INCIDENCIAS;statement cache purge=True;validate connection=True;" />-->
    <add name="SABTEST" connectionString="Data Source=GARAPEN;User Id=sab;Password=sab12;Connection LifeTime=300;" />
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;validate connection=True;" />
    <add name="CN_EPSILON" connectionString="Data Source=arrabakoate.batz.es;database=bd_epsilon;User Id=usr_epsilon_r;Password=uYGf2eq5oA;Connection LifeTime=300;" />
    <!--<add name="Entities_Gertakariak" connectionString="metadata=res://*/Oracle.Gertakariak.Gertakariak.csdl|res://*/Oracle.Gertakariak.Gertakariak.ssdl|res://*/Oracle.Gertakariak.Gertakariak.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=xbat;password=istriku12;user id=istriku;validate connection=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities_Gertakariak" connectionString="metadata=res://*/Oracle.Gertakariak.Gertakariak.csdl|res://*/Oracle.Gertakariak.Gertakariak.ssdl|res://*/Oracle.Gertakariak.Gertakariak.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=garapen;password=incidencias12;user id=incidencias;validate connection=True&quot;" providerName="System.Data.EntityClient" />	  
    <add name="Entities_Epsilon" connectionString="metadata=res://*/SQL_Server.Epsilon.Epsilon.csdl|res://*/SQL_Server.Epsilon.Epsilon.ssdl|res://*/SQL_Server.Epsilon.Epsilon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=arrabakoate.batz.es;initial catalog=bd_epsilon;persist security info=True;user id=usr_epsilon_r;password=uYGf2eq5oA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GTKLIVE" connectionString="Data Source=XBAT;User Id=incidencias;Password=incidencias12;Connection LifeTime=300;" />
    <add name="GTKTEST" connectionString="Data Source=GARAPEN;User Id=incidencias;Password=incidencias12;Connection LifeTime=300;" />
  </connectionStrings>
  <system.web>
	  <!--<machineKey decryptionKey="F82847CCCAD519F3C3842A3D2F586B447204E7B20FA3E744" validationKey="DFAB0D491FC1382D8A154FEB38157EABE05DF7E3AB977432769D43FA280C738929D9F0F176EADABE33646D45CEA6B0FB5F45272643B51CE3F4C9F86AB0E844AF" />-->
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este proceso 
            afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.

            Opciones de Visual Basic:
            Establezca strict="true" para no permitir las conversiones de todos los tipos de datos 
            donde se pueda producir una pérdida de datos. 
            Establezca explicit="true" para forzar la declaración de todas las variables.
        -->
    <roleManager enabled="true" />
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />
    <!-- pageOutput="false" para evitar errores de JScript. Para consulta el seguimiento ir a "http://localhost:10699/Trace.axd". -->
    <trace enabled="false" pageOutput="true" requestLimit="50" mostRecent="true" localOnly="true" traceMode="SortByTime" />
    <!--<compilation debug="false" > Genera menos codigo a la hora de compilar. -->
    <!--<compilation debug="true" strict="false" explicit="true" targetFramework="4.0" assemblyPostProcessorType="Microsoft.VisualStudio.Enterprise.Common.AspPerformanceInstrumenter, Microsoft.VisualStudio.Enterprise.AspNetHelper, Version=12.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
    <siteMap defaultProvider="WebSiteMap">
      <providers>
        <add name="WebSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/App_Code/Web.sitemap" />
      </providers>
    </siteMap>
    <pages theme="Batz">
      <controls>
        <add tagPrefix="act" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="PanelCargandoDatos" tagName="PanelCargandoDatos" src="~/Controles/PanelCargandoDatos.ascx" />
        <add tagPrefix="ascx" tagName="Mensajes" src="~/Controles/Mensajes.ascx" />
        <add tagPrefix="ascx" tagName="Titulo" src="~/Controles/Titulo.ascx" />
    <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
    <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Windows" />
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="false" />

    <handlers>
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit" />
    </handlers>
    
  </system.webServer>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
  <applicationSettings>
    <IstrikuWebRaiz.My.MySettings>
      <setting name="IdTipoIncidencia" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="IdGrupoRecurso" serializeAs="String">
        <value>259</value>
      </setting>
      <setting name="ObjetivosIncidencias" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>2016;35</string>
            <string>2015;35</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="IdAntecedectesDoc" serializeAs="String">
        <value>701</value>
      </setting>
      <setting name="IdListadoNotificaciones" serializeAs="String">
        <value>721</value>
      </setting>
    </IstrikuWebRaiz.My.MySettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Enterprise.AspNetHelper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="12.0.0.0" href="file:///C:/Program%20Files%20(x86)/Microsoft%20Visual%20Studio%2012.0/Common7/IDE/PrivateAssemblies/Microsoft.VisualStudio.Enterprise.AspNetHelper.DLL" />
      
				<codeBase version="15.0.0.0" href="file:///C:/Program%20Files%20(x86)/Microsoft%20Visual%20Studio/Shared/Common/VSPerfCollectionTools/Microsoft.VisualStudio.Enterprise.AspNetHelper.DLL" /></dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.7.930" newVersion="4.1.7.930" />
      </dependentAssembly>
    
			<dependentAssembly>
				<assemblyIdentity name="VsWebSite.Interop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<codeBase version="8.0.0.0" href="file:///C:/Program%20Files%20(x86)/Microsoft%20Visual%20Studio/Shared/Common/VSPerfCollectionTools/VsWebSite.Interop.DLL" /></dependentAssembly>
			<dependentAssembly>
			  <publisherPolicy apply="no" />
			  <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
			</dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net debug="true" xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--RollingFileAppender escribe todos los tipos de error-->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- ** Ruta y Nombre del Archivo **************************************************** -->
      <!--<file value="\\Aldamin\Logs\Istriku\Log"/>-->
      <file value=".\Logs\Log" />
      <!--Extension del Archivo-->
      <datePattern value="'.'yyyy-MM-dd'.log'" />
      <!-- ********************************************************************************* -->
      <appendToFile value="true" />
      <staticLogFileName value="false" />
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="2" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date{HH:mm} %level %property{log4net:HostName} %username %logger %class - %message %newline"/>-->
        <!-- Patron estardar para escribir el mensaje en los Logs -->
        <conversionPattern value="%date{HH:mm:ss} %level %property{log4net:HostName} %identity %class -%message%newline" />
      </layout>
      <!--<filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>-->
    </appender>
    <!--SmtpAppender solo envia correos de error del tipo "ERROR" y "FATAL"-->
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
      <to value="diglesias@batz.es" />
      <from value="log4net@batz.es" />
      <subject value="Error en .NET" />
      <smtpHost value="POSTA.BATZ.COM" />
      <bufferSize value="512" />
      <lossy value="false" />
      <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="WARN" />
      </evaluator>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <!--<conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />-->
        <!--<conversionPattern value=" Level: %level  %newline Logger: %logger %newline Class: %class  %newline Message: %message" />-->
        <!--<conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />-->
        <!--<conversionPattern value="%newline Usuario: %username %newline Maquina: %property{log4net:HostName} %newline Nivel: %level %newline Logger: %logger %newline Date: %date %newline      Clase: %class  %newline Message: %message" />-->
        <conversionPattern value="Fecha: %date %newline Nivel: %level %newline Logger: %logger %newline Maquina: %property{log4net:HostName} %newline Usuario: %username (%identity)  %newline Clase: %class %newline  Message: %message%newline" />
      </layout>
    </appender>
    <!--AspNetTraceAppender escrice mensajes en el TraceContext si el seguimiento esta activado-->
    <appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="AspNetTraceAppender" />
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>