<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GTK_Troqueleria.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <log4net debug="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--RollingFileAppender escribe todos los tipos de error-->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- ** Ruta y Nombre del Archivo **************************************************** -->
      <file value=".\Logs\Log" />
      <!--Extension del Archivo-->
      <datePattern value="'.'yyyy-MM-dd'.log'" />
      <!-- ********************************************************************************* -->
      <appendToFile value="true" />
      <staticLogFileName value="false" />
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="2" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date{HH:mm} %level %property{log4net:HostName} %username %logger %class - %message %newline"/>-->
        <!-- Patron estardar para escribir el mensaje en los Logs -->
        <conversionPattern value="%date{HH:mm:ss} %level %property{log4net:HostName} %identity %class -%message%newline" />
      </layout>
      <!--<filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>-->
    </appender>
    <!--SmtpAppender solo envia correos de error del tipo "ERROR" y "FATAL"-->
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="diglesias@batz.es" />
      <from value="log4net@batz.es" />
      <subject value="Error en .NET" />
      <smtpHost value="POSTA.BATZ.ES" />
      <bufferSize value="512" />
      <lossy value="false" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN" />
      </evaluator>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />-->
        <!--<conversionPattern value=" Level: %level  %newline Logger: %logger %newline Class: %class  %newline Message: %message" />-->
        <!--<conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />-->
        <!--<conversionPattern value="%newline Usuario: %property{log4net:HostName} %newline Nivel: %level %newline Logger: %logger %newline Date: %date %newline Clase: %class  %newline Message: %message" />-->
        <conversionPattern value="Fecha: %date %newline Nivel: %level %newline Logger: %logger %newline Maquina: %property{log4net:HostName} %newline Usuario: %username (%identity)  %newline Clase: %class %newline  Message: %message%newline" />
      </layout>
    </appender>
    <!--AspNetTraceAppender escrice mensajes en el TraceContext si el seguimiento esta activado-->
    <appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <!--<appender name="TraceAppender" type="log4net.Appender.TraceAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>      
    </appender>-->
    <root>
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="AspNetTraceAppender" />
      <!--<appender-ref ref="TraceAppender"/>-->
    </root>
  </log4net>
  <appSettings>
    <add key="FROGA" value="Web.config" />
    <!-- Sistema de traduccion ==================================================================-->
    <add key="AccederEnLocal" value="true" />
    <add key="LocalPath" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\LanguageAdministration\languageApp\" />
    <!--=========================================================================================-->
    <add key="RecursoWeb" value="431" />
    <add key="RecursoWeb_Extranet" value="403" />
    <add key="GrupoRecursoWeb_Extranet" value="341" />
    <add key="CurrentStatus" value="Live" />
    <add key="Microsoft.VisualStudio.Enterprise.AspNetHelper.VsInstrLocation" value="C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Team Tools\Performance Tools\vsinstr.exe" />
    <!--<add key="mailRotura" value="ErosketakTrokelgintza@batz.es"/>
    <add key="mailPerdida" value="ErosketakTrokelgintza@batz.es"/>-->
    <add key="mailCompras" value="ErosketakTrokelgintza@batz.es"/>
    <add key="mailCCO" value="diglesias@batz.es"/>
    <add key="idRoturaOK" value="1571"/>
    <add key="idRoturaNoOK" value="3027"/>
    <add key="idPerdida" value="2548"/>
	<add key="tasaDefault" value="55"/>
  </appSettings>
  <connectionStrings>
    <add name="Entities_Gertakariak" connectionString="metadata=res://*/Oracle.Gertakariak.Gertakariak.csdl|res://*/Oracle.Gertakariak.Gertakariak.ssdl|res://*/Oracle.Gertakariak.Gertakariak.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=XBAT;password=incidencias12;user id=incidencias;ha events=False;validate connection=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SABTEST" connectionString="Data Source=GARAPEN;User Id=sab;Password=sab12;Connection LifeTime=300;validate connection=True;ha events=True;" />
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;validate connection=True;ha events=True;" />
    <add name="ConexionWeb_TEST" connectionString="Data Source=GARAPEN;User Id=incidencias;Password=incidencias12;validate connection=true;CONNECTION LIFETIME=120" />
    <add name="ConexionWeb_LIVE" connectionString="Data Source=XBAT;User Id=incidencias;Password=incidencias12;validate connection=true;CONNECTION LIFETIME=120" />
    <add name="XBATLIVE" connectionString="Data Source=XBAT;User Id=xbat;Password=12xbat12;" />
    <add name="XBATTEST" connectionString="Data Source=GARAPEN;User Id=xbat;Password=12xbat12;" />
  </connectionStrings>
  <system.web>
    <machineKey decryptionKey="693D8DD1AFE002A70295CBCE7376F1CF40EA9C3691980A1B,IsolateApps" validationKey="91434512E7F9DAEDA11A8DB67FE382A9366B38EF2CE55231FD2C10019A20C30FEE2E49708200D486BC21EA0DC489727B4F6E2C1577AEDBD10B514C8CA3D9717E,IsolateApps" />
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <!--<trace enabled="false" pageOutput="true" requestLimit="50" mostRecent="true" localOnly="true" traceMode="SortByTime" />-->
    <pages theme="Batz" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="act" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="PanelCargandoDatos" tagName="PanelCargandoDatos" src="~/Controles/PanelCargandoDatos.ascx" />
        <add tagPrefix="ascx" tagName="Mensajes" src="~/Controles/Mensajes.ascx" />
        <add tagPrefix="ascx" tagName="Titulo" src="~/Controles/Titulo.ascx" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <siteMap defaultProvider="WebSiteMap">
      <providers>
        <add name="WebSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/App_Code/Web.sitemap" />
      </providers>
    </siteMap>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28F01B0E84B6D53E" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1.3.0" newVersion="15.1.3.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Enterprise.AspNetHelper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <codeBase version="12.0.0.0" href="file:///C:/Program%20Files%20(x86)/Microsoft%20Visual%20Studio%2012.0/Common7/IDE/PrivateAssemblies/Microsoft.VisualStudio.Enterprise.AspNetHelper.DLL"/>
      
        <codeBase version="15.0.0.0" href="file:///C:/Program%20Files%20(x86)/Microsoft%20Visual%20Studio/Shared/Common/VSPerfCollectionTools/Microsoft.VisualStudio.Enterprise.AspNetHelper.DLL"/></dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VsWebSite.Interop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="8.0.0.0" href="file:///C:/Program%20Files%20(x86)/Microsoft%20Visual%20Studio/Shared/Common/VSPerfCollectionTools/VsWebSite.Interop.DLL" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Enterprise.AspNetHelper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="15.0.0.0" href="file:///C:/Program%20Files%20(x86)/Microsoft%20Visual%20Studio/Shared/Common/VSPerfCollectionTools/Microsoft.VisualStudio.Enterprise.AspNetHelper.DLL" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>	  
      <dependentAssembly>
		    <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" />
		    <bindingRedirect oldVersion="1.0.0.0-11.0.0.0" newVersion="10.0.0.0" />
	    </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- IdTipoIncidencia_IdPlantaSAB = Representa el tipo de No Conformidad con la que se trabaja y la planta
      Parametros: -IdPlanta; IdPlantaSAB; Descripcion; IdGrupoRecurso-
        IdPlanta - Identificador del tipo de Incidencida con el cual identificamos la planta.
        IdPlantaSAB - Identificador de la planta en SAB.
        Descripcion - Descripcion de la planta.
        IdGrupoRecurso - Identificador del grupo al que pertenece el recurso dependiendo de la planta.
        
       IdConceptosLineasCoste = Identificador principal (Padre) de los conceptos de las lineas de coste.
  -->
  <applicationSettings>
    <GTK_Troqueleria.My.MySettings>
      <setting name="Extranet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GTK_Troqueleria_es_batz_intranet2_Enovia" serializeAs="String">
        <value>https://intranet2.batz.es/ServicioEnovia/enovia.asmx</value>
      </setting>
      <setting name="IdTipoIncidencia_IdPlantaSAB" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>1;1;Troqueleria;90</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="IdSubprocesos_TV" serializeAs="String">
        <value>1026</value>
      </setting>
      <setting name="IdConceptosLineasCoste" serializeAs="String">
        <value>745</value>
      </setting>
      <setting name="IdArea" serializeAs="String">
        <value>1228</value>
      </setting>
      <setting name="IdNotificacionesUG" serializeAs="String">
        <value>1287</value>
      </setting>
      <setting name="IdProducto_TV" serializeAs="String">
        <value>1267</value>
      </setting>
      <setting name="IdCaracteristica_TV" serializeAs="String">
        <value>1268</value>
      </setting>
    </GTK_Troqueleria.My.MySettings>
  </applicationSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <location path="Controles/ServiciosWeb.asmx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

</configuration>