<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CurrentStatus" value="Live"/>
  </appSettings>
  <connectionStrings>
    <add name="TELEFONIALIVE" connectionString="Data Source=XBAT;User Id=telefonia;Password=telefonia12;Connection LifeTime=300;"/>
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;"/>
  </connectionStrings>
    <startup>         
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
