<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <BonosSisLib.My.MySettings>
      <setting name="BonosSisLib_Matrix_BonosServiceService" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://plmv6.batz.es:7001/enovia/services/BzServicesBonosService</value>
      </setting>
    </BonosSisLib.My.MySettings>
  </applicationSettings>
</configuration>