<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Sistema de traduccion ==================================================================-->
    <add key="AccederEnLocal" value="true"/>
    <add key="LocalPath" value="\\svm_cifs\AreaWeb\DATA\PRO\LanguageAdministration\language\"/>    
    <!--=========================================================================================-->
    <add key="RecursoWeb" value="336"/>
    <add key="CurrentStatus" value="Debug"/>
    <add key="Administradores" value="63073"/>
    <add key="emailFrom" value="kpi@batz.coop"/>
  </appSettings>
  <connectionStrings>
    <add name="SABTEST" connectionString="Data Source=GARAPEN;User Id=sab;Password=sab12;Connection LifeTime=300;"/>
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;"/>
    <add name="KPITEST" connectionString="Data Source=GARAPEN;User Id=kpi;Password=kpi12;Connection LifeTime=300;"/>
    <add name="KPILIVE" connectionString="Data Source=XBAT;User Id=kpi;Password=kpi12;Connection LifeTime=300;"/>
    <add name="XBATTEST" connectionString="Data Source=GARAPEN;User Id=xbat;Password=12xbat12;Connection LifeTime=300;"/>
    <add name="XBATLIVE" connectionString="Data Source=XBAT;User Id=xbat;Password=12xbat12;Connection LifeTime=300;"/>
    <add name="GESTIONHORASTEST" connectionString="Data Source=GARAPEN;User Id=gestionhoras;Password=gestionhoras12;Connection LifeTime=300;"/>
    <add name="GESTIONHORASLIVE" connectionString="Data Source=XBAT;User Id=gestionhoras;Password=gestionhoras12;Connection LifeTime=300;"/>
    <add name="CN_EPSILON"
      connectionString="Data Source=arrabakoate.batz.es;database=bd_epsilon;User Id=usr_epsilon_r;Password=uYGf2eq5oA;Connection LifeTime=60;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <pages>
      <controls>        
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>        
        <add tagPrefix="tit" tagName="Titulo" src="~/Controles/Titulo.ascx"/>
      </controls>
    </pages>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>