/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}


select.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.panel-group > .panel > .panel-heading > .panel-title,
.panel-group > .panel > .panel-heading > .panel-title > a:hover,
.panel-group > .panel > .panel-heading {
    background-color: #337ab7;
    color:white;
    text-decoration: none!important;
}

.panelcollapse:hover {
    cursor:pointer;
}