<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="LocalPath" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\LanguageAdministration\language\" />
    <add key="RecursoGrupoWeb" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="336"/>
    <add key="CurrentStatus" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="Live" />


  </appSettings>
  <connectionStrings>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@name, 'TEST'))" connectionString="" name="" />
  </connectionStrings>

</configuration>