<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KaplanNew.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <httpRuntime maxRequestLength="52428800" />
    <customErrors mode="Off" />
    <trace enabled="true" pageOutput="false" requestLimit="50" mostRecent="true" localOnly="false" traceMode="SortByTime" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages theme="Batz" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="act" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="uc" tagName="CaracteresBatzFont" src="~/App_Data/CaracteresBatzFont.ascx" />
      </controls>
    </pages>
    <!--<httpHandlers>
      <add verb="*" path="Handler1.ashx" type="RunCmdHandler"/>
    </httpHandlers>-->
  </system.web>
  <appSettings>
    <!-- Sistema de traduccion ==================================================================-->
    <add key="AccederEnLocal" value="true" />
    <add key="LocalPath" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\LanguageAdministration\languageApp\" />
    <!--=========================================================================================-->
    <add key="RecursoWeb" value="161" />
   <add key="RecursoGrupoWeb" value="152" />


    <add key="CurrentStatus" value="Debug" />




    <add key="LinkInicioExtranet" value="https://extranet.batz.es/extranetlogin/" />
    <add key="LinkInicioIntranet" value="https://intranet2.batz.es/homeintranet/" />

    <add key="extranet" value="0" />




  </appSettings>
  <connectionStrings>
    <!--     "Data Source=LTJZARRAGA\SQLEXPRESS01;database=Employee;User Id=BATZNT\Jzarraga;Password=batzigorre2021;Connection LifeTime=300;" />    <add name="" connectionString="Data Source=btzsqldb1\MSSQLINS1;database=adok;User Id=btzsqldbowner;Password=MvCUAYpY74zK;Connection LifeTime=300;" />   -->
    <add name="KAPLANSQL2" connectionString="Data Source=LTJZARRAGA\SQLEXPRESS01;database=Employee;Integrated Security=true;user Id=BATZNT\JZarraga;Password=batzigorre2021" />
    <add name="AS400" connectionString="Provider=IBMDA400.DataSource.1;Data Source=LEKANDA.batz.es;Persist Security Info=True;OLE DB Services=-13;User ID=COGNOS;Password=cognos07;Catalog Library List=CUBOS" />
    <add name="KAPLANSQL" connectionString="Data Source=BTZSQLDB1\MSSQLINS1;Initial Catalog=NEW_KAPLAN;Persist Security Info=True;User ID=inycom_Sql;Password=BatzInycom2021$;Min Pool Size=20;Connect Timeout=150" />
   <add name="SABTEST" connectionString="Data Source=GARAPEN;User Id=sab;Password=sab12;Connection LifeTime=300;" />
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;" />

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>

    </security>
  
    <modules />
  </system.webServer>
  
  <applicationSettings>
    <KaplanNew.My.MySettings>
      <setting name="RecursoWeb" serializeAs="String">
        <value>132</value>
      </setting>
    </KaplanNew.My.MySettings>
  </applicationSettings>
</configuration>