<?xml version="1.0" encoding="utf-8"?>
<configuration >
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net debug="true" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <!--RollingFileAppender escribe todos los tipos de error-->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="\\svm_cifs\AreaWeb\LOGS\PRO\EXT\AutoFactuProv\Log" xdt:Transform="Replace" />
    </appender>
  </log4net>
</configuration>