<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="\\svm_cifs.batz.es\AreaWeb\LOGS\PRO\INT\helbide\Log" xdt:Transform="Replace" />
    </appender>
    <root>
      <level value="INFO" xdt:Transform="Replace" />
      <appender-ref ref="SmtpAppender" xdt:Transform="Insert" />
    </root>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="developers@batz.es" xdt:Transform="Replace" />
    </appender>
  </log4net>
</configuration>