<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="LocalPath" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\LanguageAdministration\language\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="idrecurso" value="119" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="oracle" connectionString="Data Source=GARAPEN;User Id=eki;Password=eki12;Connection LifeTime=60;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></add>
    <add name="microsoft" connectionString="Data Source=arrabakoate.batz.es;database=bd_epsilon;User Id=usr_epsilon_r;Password=uYGf2eq5oA;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></add>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Insert"></customErrors>
  </system.web>
</configuration>