<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CurrentStatus" value="Debug" />
    <add key="AccederEnLocal" value="true" />
    <add key="LocalPath" value="\\ganekozabal.batz.es\Automnto\SBatzConfigurationFiles\language\" /> <!--Se deja asi porque esta clave la coge directamente la libreria de localization-->
    <add key="log4netPath" value="\\[SERVER]\Automnto\SBatzConfigurationFiles\log4netConfig.config" />    
    <add key="Imagenes" value="\\[SERVER]\Automnto\Formulario\Images\" />
    <add key="pathKeyboard" value="\\[SERVER]\Automnto\Formulario\keyboard\" />
    <add key="emailFrom" value="automnto@batz.es" />    
    <add key="RecursoWeb_Admin" value="299" />
    <add key="RecursoWeb" value="290" />
    <add key="urlWebServicePrisma" value="http://eretza.batz.es/prisma3/webservices/public/savedata.asmx" />
    <add key="userPrisma" value="PRISMA" />
    <add key="numTrabAutomntoPrisma" value="999999" />  <!--Numero de trabajador por defecto para la solicitudes de prisma en caso de no encontrar al actual-->
  </appSettings>
  <connectionStrings>
    <add name="SABTEST" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=igalirrintza.batz.es)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=garapen)));User Id=sab;Password=sab12;Connection LifeTime=300;" />
    <add name="AUTOMNTOTEST" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=igalirrintza.batz.es)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=garapen)));User Id=automnto;Password=automnto12;Connection LifeTime=300;" />
    <add name="XBATTEST" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=igalirrintza.batz.es)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=garapen)));User Id=xbat;Password=12xbat12;Connection LifeTime=300;" />
    <add name="PRISMATEST" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=igalirrintza.batz.es)(PORT = 1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=cognos10)));User Id=prisma3;Password=prisma312;Connection LifeTime=300;" />   <!--Se ponen los dos en real porque son solo en modo consultas y en test algunos datos no estan creados-->    
    <add name="OLANETTEST" connectionString="Data Source=Btzsqldb1\MSSQLINS1;database=Olanet_Batz_Eus;User Id=olanetigorre;Password=igorreolanet;Connection LifeTime=300;"/>
    <add name="GESTIONHORASTEST" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=igalirrintza.batz.es)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=garapen)));User Id=gestionhoras;Password=gestionhoras12;" />
    <add name="DBIZAROTEST" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=igalirrintza.batz.es)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=garapen)));User Id=dbizaro;Password=dbizaro12;" />        
    <add name="SABLIVE" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=ora19-scan)(PORT=1523))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic)(RETRIES=10)(DELAY=1))(SERVER=dedicated)(SERVICE_NAME=xbatsrv.batz.es)));User Id=sab;Password=sab12;Connection LifeTime=300;" />
    <add name="AUTOMNTOLIVE" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=ora19-scan)(PORT=1523))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic)(RETRIES=10)(DELAY=1))(SERVER=dedicated)(SERVICE_NAME=xbatsrv.batz.es)));User Id=automnto;Password=automnto12;Connection LifeTime=300;" />
    <add name="XBATLIVE" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=ora19-scan)(PORT=1523))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic)(RETRIES=10)(DELAY=1))(SERVER=dedicated)(SERVICE_NAME=xbatsrv.batz.es)));User Id=xbat;Password=12xbat12;Connection LifeTime=300;" />
    <add name="PRISMALIVE" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=ora19-scan)(PORT=1523))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic)(RETRIES=10)(DELAY=1))(SERVER=dedicated)(SERVICE_NAME=cognos10srv.batz.es)));User Id=prisma3;Password=prisma312;Connection LifeTime=300;" />    
    <add name="OLANETLIVE" connectionString="Data Source=Btzsqldb1\MSSQLINS1;database=Olanet_Batz_Eus;User Id=olanetigorre;Password=igorreolanet;Connection LifeTime=300;"/>
    <add name="GESTIONHORASLIVE" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=ora19-scan)(PORT=1523))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic)(RETRIES=10)(DELAY=1))(SERVER=dedicated)(SERVICE_NAME=xbatsrv.batz.es)));User Id=gestionhoras;Password=gestionhoras12;" />
    <add name="DBIZAROLIVE" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=ora19-scan)(PORT=1523))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic)(RETRIES=10)(DELAY=1))(SERVER=dedicated)(SERVICE_NAME=xbatsrv.batz.es)));User Id=dbizaro;Password=dbizaro12;Connection LifeTime=300;" />                       
  </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28F01B0E84B6D53E" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.51116.0" newVersion="4.1.51116.0" />
			</dependentAssembly>			
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.51116.0" newVersion="4.1.51116.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
