<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CurrentStatus" value="Debug"/>    
    <add key="Ejecutable" value="\\[SERVER]\Automnto\App\AutomntoApp.exe"/>
    <add key="log4netPath" value="\\[SERVER]\Automnto\SBatzConfigurationFiles\log4netConfig.config"/>        
  </appSettings>
  <connectionStrings>
    <add name="AUTOMNTOTEST" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=igalirrintza.batz.es)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=garapen)));User Id=automnto;Password=automnto12;Connection LifeTime=300;"/>
    <add name="XBATTEST" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=igalirrintza.batz.es)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=garapen)));User Id=xbat;Password=12xbat12;Connection LifeTime=300;"/>    
    <add name="DBIZAROTEST" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=igalirrintza.batz.es)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=garapen)));User Id=dbizaro;Password=dbizaro12;Connection LifeTime=300;"/>    
    <add name="AUTOMNTOLIVE" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=ora19-scan)(PORT=1523))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic)(RETRIES=10)(DELAY=1))(SERVER=dedicated)(SERVICE_NAME=xbatsrv.batz.es)));User Id=automnto;Password=automnto12;Connection LifeTime=300;"/>        
    <add name="XBATLIVE" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=ora19-scan)(PORT=1523))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic)(RETRIES=10)(DELAY=1))(SERVER=dedicated)(SERVICE_NAME=xbatsrv.batz.es)));User Id=xbat;Password=12xbat12;Connection LifeTime=300;" />    
    <add name="DBIZAROLIVE" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=ora19-scan)(PORT=1523))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic)(RETRIES=10)(DELAY=1))(SERVER=dedicated)(SERVICE_NAME=xbatsrv.batz.es)));User Id=dbizaro;Password=dbizaro12;Connection LifeTime=300;" />                       
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
