<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AccederEnLocal" value="true"/>
    <add key="LocalPath" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\LanguageAdministration\language\"/>
    <add key="RecursoTelefonia" value="132"/>
    <add key="CurrentStatus" value="Debug"/>
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/tempImages/;"/>
    <add key="FacturasTelefonia" value="\\svm_cifs.batz.es\AreaWeb\DATA\TEST\Telefonia\Facturas"/>
    <add key="ProcesoFacturaAvisarA" value="abelgarcia@batz.es"/>    
  </appSettings> 
  <connectionStrings>
    <add name="SABTEST" connectionString="Data Source=GARAPEN;User Id=sab;Password=SAB12;Connection LifeTime=300;"/>
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;"/>
    <add name="TELEFONIATEST" connectionString="Data Source=GARAPEN;User Id=telefonia;Password=telefonia12;Connection LifeTime=300;"/>
    <add name="TELEFONIALIVE" connectionString="Data Source=XBAT;User Id=telefonia;Password=telefonia12;Connection LifeTime=300;"/>
    <add name="GESTIONHORASTEST" connectionString="Data Source=GARAPEN;User Id=gestionhoras;Password=gestionhoras12;"/>
    <add name="GESTIONHORASLIVE" connectionString="Data Source=XBAT;User Id=gestionhoras;Password=gestionhoras12;"/>
    <add name="EPSILONTEST" connectionString="Data Source=arrabakoate.batz.es;database=bd_epsilon;User Id=usr_epsilon_r;Password=uYGf2eq5oA;Connection LifeTime=60;"/>
    <add name="EPSILONLIVE" connectionString="Data Source=arrabakoate.batz.es;database=bd_epsilon;User Id=usr_epsilon_r;Password=uYGf2eq5oA;Connection LifeTime=60;"/>
    <add name="ASTERISK" connectionString="Driver={MySQL ODBC 5.1 Driver};Server=austingarmin.batz.es;Database=asterisk;Uid=batz;Pwd=AsteriskLinux!;"/>
    <add name="SYSTEMTEST" connectionString="Data Source=GARAPEN;User Id=system;Password=garapen12;"/>
    <add name="SYSTEMLIVE" connectionString="Data Source=XBAT;User Id=system;Password=oraclexbat;"/>
    <add name="CN_EPSILON" connectionString="Data Source=arrabakoate.batz.es;database=bd_epsilon;User Id=usr_epsilon_r;Password=uYGf2eq5oA;Connection LifeTime=60;"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
      <pages clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.0">
        <controls>
          <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />          
          <add tagPrefix="uc" tagName="CargandoDatos" src="~/Controls/PanelCargandoDatos.ascx" />          
        </controls>
      </pages>
    <authentication mode="Windows"/>
    <!--ExecutionTimeOut: Indica que al de 120 segundos, tomara como fallido el intento -->
    <!--MaxRequestLength: Limita a 4MB los ficheros subidos-->      
    <httpRuntime executionTimeout="300" maxRequestLength="51200"/>      
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD"
      type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      validate="false"/>
    </httpHandlers>
    </system.web>
   <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd"
       type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <!--Sin esto, no funciona en produccion-->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpEndpointBinding">
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Telefonia.ServiceTelefoniaBehavior" name="Telefonia.ServiceTelefonia">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="BasicHttpEndpoint"
          contract="Telefonia.IServiceTelefonia"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Telefonia.ServiceTelefoniaBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true. Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.4.0" newVersion="1.8.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
</configuration>
