<?xml version="1.0" encoding="utf-8"?>
<!--
AjaxControlToolkit -> VERSION RECOMENDADA "15.1.3.0"
version "15.1.4.0"  -> Problema del z-Index de los paneles
                    -> CalendarExtender.SelectedDate si se le asigna una fecha le resta un dia al mostrarla                    
version "16.1.0.0"  -> Errores de javaScript al no detectar ciertas propiedes                    
-->
<packages>
  <package id="AjaxControlToolkit" version="18.1.1" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.8.10" targetFramework="net40" />
  <package id="log4net" version="2.0.8" targetFramework="net40" />
</packages>