<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="LocalPath" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\LanguageAdministration\language\" />
    <add key="CurrentStatus" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="Debug" />
    <add key="RutaEnlace" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="http://intranet-test.batz.es/ReferenciasVenta/Paginas/" />
  </appSettings>
  <connectionStrings>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@name, 'LIVE'))" connectionString="" name="" />
  </connectionStrings>
  <system.webServer xdt:Transform="Insert">
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <security>
      <authentication>
        <windowsAuthentication  enabled="true"  />
        <anonymousAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
</configuration>