<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Troqueleria.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ActionInterval" value="60" />
    <add key="PollingInterval" value="1" />
    <add key="derivedPath" value="\\zenigorta\traducciones\" />
    <add key="catiaentornosPath" value="X:\UtilBATZ\Formatos_Ligeros\Catia_Entornos\" />
    <add key="nxentornosPath" value="X:\UGS" />
    <add key="entornos_clientes_filename" value="Relacion_Cientes_Entornos.txt" />
    <add key="jtbatpath" value="\\hpnas2\CATIAV5CFG\UtilBATZ\Formatos_Ligeros\NX_Entornos\NX10.bat" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="notificacionesEnovia" value="jafernandez@batz.es,jlorono@batz.es"></add>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Troqueleria.My.MySettings>
      <setting name="Troqueleria_OfakService_OfakService" serializeAs="String">
        <value>http://10.0.0.25:7001/ematrix/services/OfakService</value>
      </setting>
      <setting name="Troqueleria_zubizanba_prgJobserverWSService" serializeAs="String">
        <value>http://arranoatx.batz.es:7001/enovia/services/PrgJobserverWS</value>
      </setting>
    </Troqueleria.My.MySettings>
  </applicationSettings>
  <system.web>
    <processModel timeout="Infinite"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>