<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServicioEnovia.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>
  
    <applicationSettings>
        <ServicioEnovia.My.MySettings>
            <setting name="ServicioEnovia_EnoviaService_bzWebServicesService"
                serializeAs="String">
                <value>http://arranoatx.batz.es:7001/enovia/services/BzWebServices</value>
            </setting>
            <setting name="ServicioEnovia_PTKservice_OfakService" serializeAs="String">
                <value>http://192.168.1.121:7001/ematrix/services/OfakService</value>
            </setting>
            <setting name="ServicioEnovia_EnoviaDesarrollo_bzWebServicesService"
                serializeAs="String">
                <value>http://zunbizanba.batz.es:7001/enovia/services/BzWebServices</value>
            </setting>
        </ServicioEnovia.My.MySettings>
    </applicationSettings>
</configuration>
