<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net debug="true" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="\\svm_cifs.batz.es\AreaWeb\LOGS\PRO\INT\Nominas\Log" xdt:Transform="Replace" />
    </appender>
    <root>
      <appender-ref ref="SmtpAppender" xdt:Transform="Insert" xdt:Locator="Match(ref)" />
    </root>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="developers@batz.es" xdt:Transform="Replace" />
    </appender>
  </log4net>
</configuration>