<?xml version="1.0"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-GrupoMaterial-20180607111653.mdf;Initial Catalog=aspnet-GrupoMaterial-20180607111653;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="CONNECTION" connectionString="Provider=IBMDA400;Data Source=LEKANDA.batz.es;User Id=COGNOS;Password=COGNOS07;Default Collection=cubos"/>
    <add name="SQLCONNECTION" connectionString="Data Source=BTZSQLDB1\MSSQLINS1;Initial Catalog=BI_sistemas;Persist Security Info=True;User ID=SqlJobUser;Password=heladocervezaverde;Min Pool Size=20;Connect Timeout=150"/>
    <!--<add name="SQLCONNECTION" connectionString="Data Source=BTZSQLDB1\MSSQLINS1;Initial Catalog=BI_sistemas;Persist Security Info=True;Integrated Security=True;Min Pool Size=20;Connect Timeout=150" />-->
    <add name="SQLCONNECTIONTEST" connectionString="Data Source=BTZSQLDB3\MSSQLINS3;Initial Catalog=BI_sistemas_TEST;Persist Security Info=True;Integrated Security=True;Min Pool Size=20;Connect Timeout=150"/>
    <add name="ORACLECONNECTION" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;"/>
    <add name="SABTEST" connectionString="Data Source=GARAPEN;User Id=sab;Password=sab12;Connection LifeTime=300;" />
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;" />
    <add name="GRUPOTEST" connectionString="Data Source=GARAPEN;User Id=grupomaterial;Password=grupomaterial12;Connection LifeTime=300;" />
    <add name="GRUPOLIVE" connectionString="Data Source=XBAT;User Id=grupomaterial;Password=grupomaterial12;Connection LifeTime=300;" />
    <add name="CN_EPSILON" connectionString="Data Source=arrabakoate.batz.es;database=bd_epsilon;User Id=usr_epsilon_rw;Password=ggjK9ET70I;Connection LifeTime=60;"/>
    <add name="CN_DBIZARO" connectionString="User Id=dbizaro;Password=dbizaro12;Data Source=XBAT;Connection LifeTime=300;"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="resourceId" value="465"/>
    <add key="currentStatus" value="Live"/>
    <add key="plantas" value="1,4,5,6,47"/>

    
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Windows"/>
    <customErrors mode="Off" />
    <!--<compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />-->
    <globalization uiCulture="es-ES" culture="es-ES" />
    <compilation debug="true"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>-->
</configuration>