<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Sistema de traduccion ==================================================================-->
    <add key="AccederEnLocal" value="true" />
    <add key="LocalPath" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\LanguageAdministration\language\" />
    <!--=========================================================================================-->
    <add key="RecursoWeb" value="270" />
    <add key="RecursoWeb_Admon" value="249" />
    <add key="Grupo_Admon" value="181" />
    <add key="CurrentStatus" value="Debug" />
    <add key="Documentos" value="\\svm_cifs.batz.es\AreaWeb\DATA\TEST\Bidaiak" />
    <add key="pathBidaiak" value="C:\Proyectos\Trunk_4\Bidaiak\Web" />
    <!--Cuando una persona es subcontratado, no tiene calendario asignado, por tanto, se le asignara un calendario generico-->
    <add key="tipoCalendarioGenerico" value="G" />
    <add key="calendarioGenerico" value="2" />
    <!--Emails-->
    <add key="emailFrom" value="bidaiak@batz.es" />
    <add key="avisarPorEmail" value="0" />
    <!--1:Para enviar avisos por email al liquidador, responsable de financiero, agencia, integrantes, etc..,0:caso contrario-->
    <add key="codSpain" value="34" />
    <add key="avisarCoronavirus" value="63073" />  <!--Id de las personas a los que tambien se les avisa cuando se crea un viaje-->
    <add key="avisarViajeRestoMundo" value="63073"/> <!--Id de las personas a las que se les avisa cuando se hace un viaje al resto del mundo-->
	<add key="validadoresViajes" value="57561;74359" /> <!--Personas que puede validar los viajes tras su creacion. Hasta que un viaje no se valida, la agencia de viajes no comienza a tramitarlo-->
  </appSettings>
  <connectionStrings>
    <add name="SABTEST" connectionString="Data Source=GARAPEN;User Id=sab;Password=sab12;Connection LifeTime=300;" />
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;" />
    <add name="BIDAIAKTEST" connectionString="Data Source=GARAPEN;User Id=bidaiak;Password=bidaiak12;Connection LifeTime=300;" />
    <add name="BIDAIAKLIVE" connectionString="Data Source=XBAT;User Id=bidaiak;Password=bidaiak12;Connection LifeTime=300;" />
    <add name="XBATTEST" connectionString="Data Source=GARAPEN;User Id=xbat;Password=12xbat12;Connection LifeTime=300;Incr Pool Size=3;" />
    <add name="XBATLIVE" connectionString="Data Source=XBAT;User Id=xbat;Password=12xbat12;Connection LifeTime=300;Incr Pool Size=3;" />
    <add name="GESTIONHORASTEST" connectionString="Data Source=GARAPEN;User Id=gestionhoras;Password=gestionhoras12;Connection LifeTime=300;" />
    <add name="GESTIONHORASLIVE" connectionString="Data Source=XBAT;User Id=gestionhoras;Password=gestionhoras12;Connection LifeTime=300;" />            
    <add name="NAVSILONTEST" connectionString="Data Source=Btzsqldb1\MSSQLINS1;database=napsilon;User Id=BtzSqlLoginWriter;Password=btzsw;Connection LifeTime=60;" />
    <add name="NAVSILONLIVE" connectionString="Data Source=Btzsqldb1\MSSQLINS1;database=napsilon;User Id=BtzSqlLoginWriter;Password=btzsw;Connection LifeTime=60;" />
    <add name="BIDAIGASTUAK" connectionString="Data Source=btzsqldb1\MSSQLINS1;database=bidai-gastuak;User Id=BtzSqlLoginWriter;Password=btzsw;Connection LifeTime=300;" />
    <add name="NAVISIONTEST" connectionString="Data Source=btzsqldb3\mssqlins3;database=NavIgorre2016_Test;User Id=NavWrite;Password=x3q73M3L;Connection LifeTime=60;" />    
    <add name="NAVISIONLIVE" connectionString="Data Source=btzsqldb2\mssqlins2;database=NavIgorre2016;User Id=NavWrite;Password=x3q73M3L;Connection LifeTime=60;" />
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <pages clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />        
        <add tagPrefix="tit" tagName="Titulo" src="~/Controles/Titulo.ascx" />
        <add tagPrefix="uc" tagName="CargandoDatos" src="~/Controles/PanelCargandoDatos.ascx" />    
        <add tagPrefix="uc" tagName="Busqueda" src="~/Controles/BusquedaUsuarios.ascx" />    
      </controls>
    </pages>
    <!--ExecutionTimeOut: Indica que al de 900 segundos (15 minutos), tomara como fallido el intento. Se pone tanto para la importacion de visas, el envio de emails -->
    <!--MaxRequestLength: Limita a 10MB los ficheros subidos-->
    <httpRuntime executionTimeout="900" maxRequestLength="10240" targetFramework="4.5" /> <!--importante el tag targetFramework para que funcione signalR-->
    <trace enabled="false" pageOutput="true" requestLimit="50" localOnly="false" mostRecent="true" traceMode="SortByTime" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>  
  </system.web>
    <system.webServer>
   <modules runAllManagedModulesForAllRequests="true">
   </modules>
</system.webServer> 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">      
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>  
</configuration>