<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DATOS_PLANTA" connectionString="Data Source=BTZSQLDB1\MSSQLINS1;database=DATOS_PLANTA;User Id=BtzSqlDbOwner;Password=MvCUAYpY74zK;Connection LifeTime=300;Connection Timeout=1" />
    <add name="DATOS_PALMO" connectionString="Data Source=BTZSQLDB1\MSSQLINS1;database=Olanet_Batz_Eus;User Id=BtzSqlDbOwner;Password=MvCUAYpY74zK;Connection LifeTime=300;Connection Timeout=1" />
    <add name="SCAMSI" connectionString="Data Source=BTZSQLDB1\MSSQLINS1;database=scamsi_batz_1;User Id=scamsi_batz;Password=batz;Connection LifeTime=300;Connection Timeout=1"/> 
  </connectionStrings>
  <appSettings>
    <add key="DisconnectionTimer" value="30000" />
    <add key="TimerInterval" value="6000" />
    <add key="CheckTimer" value="360000" />
    <add key="PortName" value="COM3" />
    <add key="ModalExePath" value="C:\BarcodeMQBA0\Programas\AvisoModal.exe"/>
    <add key="Status" value="PRODUCTION"/>
  </appSettings>
</configuration>