<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DerivedOutputs.My.MySettings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <appSettings>
    <!-- ActionInterval is the interval in seconds between execution of the service payload. Minimum is 10 seconds and please use multiples of 10  -->
    <add key="ActionInterval" value="60"/>
    <add key="nMaxProcesses" value="1"/>
    <add key="watermark" value="UNDER REVIEW DRAWING – UNCHECKED"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="catiaentornosPath" value="\\hpnas2\CATIAV5CFG\UtilBATZ\Formatos_Ligeros\Catia_Entornos\R24.bat"/>
    <add key="pathFormatosLigeros" value="\\hpnas2\CATIAV5CFG\UtilBATZ\Formatos_Ligeros\"/>
    <add key="pathRequeue" value="c:/Users/aazkuenaga.BATZNT/Documents/dotnet_code/Trunk_4/SBatz/Derived Outputs/DerivedOutputsRequeue/bin/Debug/"></add>
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
 
  <applicationSettings>
    <DerivedOutputs.My.MySettings>
      <setting name="DerivedOutputs_wsPLMCADUtils_PLMCADUtilsService" serializeAs="String">
        <value>http://zanburu.batz.es:7001/enovia/services/BzServicesPLMCADUtils</value>
      </setting>
      <setting name="DerivedOutputs_plmcadutilsservice_PLMCADUtilsService" serializeAs="String">
        <value>http://zanburu.batz.es:7001/enovia/services/BzServicesPLMCADUtils</value>
      </setting>
    </DerivedOutputs.My.MySettings>
  </applicationSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
