<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CurrentStatus" value="Live"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="log4netConfig" value="c:\INVOICES\EISHARED\Batz\Suppliers\log4netconfig.config"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="PathProveedoresCSV_Igorre" value="c:\INVOICES\EISHARED\Suppliers\Suppliers_Igorre.txt"/>    
  </appSettings>
  <connectionStrings>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@name,'TEST'))" connectionString="" name="" />
  </connectionStrings>
</configuration>