<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CurrentStatus" value="Live" />
    <add key="PathProveedoresCSV_Igorre" value="c:\Pruebas\Suppliers_Igorre.txt"/>
    <!--<add key="PathProveedoresCSV_Czech" value="c:\Pruebas\Suppliers_Czech.txt"/>-->
    <add key="log4netConfig" value="C:\Codigo\Trunk_4\SBatz\Readsoft_CSV_Generator\log4netConfig.config" />
  </appSettings>
  <connectionStrings>    
    <add name="SABLIVE" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=ora19-scan)(PORT=1523))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic)(RETRIES=10)(DELAY=1))(SERVER=dedicated)(SERVICE_NAME=xbatsrv.batz.es)));User Id=sab;Password=sab12;Connection LifeTime=300;"/>
    <add name="SABTEST" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=itxina.batz.es)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=garapen)));User Id=sab;Password=SAB12;Connection LifeTime=300;"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
</configuration>