<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="LocalPath" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\LanguageAdministration\language\" />
    <add key="CurrentStatus" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="Live" />
    <add key="RutaImagenHojaInstruccion" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\KaPlan\CroquisHojaInstrucciones\" />
    <add key="RutaImagenCroquisMiniatura" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\KaPlan\CroquisKtrolMiniatura\" />
    <add key="rutaAdjuntosTemp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\Ktrol\Temp\" />
    <add key="rutaAdjuntos" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\Ktrol\" />
  </appSettings>
  <connectionStrings>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@name, 'TEST'))" connectionString="" name="" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="BATZ_IGORRE" connectionString="Data Source=BTZSQLDB1\MSSQLINS1;Initial Catalog=KAPLAN_IGORRE;Persist Security Info=True;User ID=BtzSqlLoginWriter;Password=btzsw" />
  </connectionStrings>

	<!--<system.webServer>
		<defaultDocument xdt:Transform="Insert">
			<files>
				<clear />
				<add value="Login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>-->
	
	<log4net>
		<appender>
			<file xdt:Transform="SetAttributes" value="\\svm_cifs.batz.es\AreaWeb\LOGS\PRO\INT\Ktrol\Log"/>
		</appender>
		<root>
			<appender-ref xdt:Transform="Remove" xdt:Locator="Match(ref)"  ref="SmtpAppender"/>
			<appender-ref xdt:Transform="Insert" ref="SmtpAppender"/>
		</root>
	</log4net>
</configuration>