<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CurrentStatus" value="Debug"/>
    <add key="Ejecutable" value="\\[SERVER]\Automnto\Formulario\AutomntoForm.exe"/>    
    <add key="log4netPath" value="\\[SERVER]\Automnto\SBatzConfigurationFiles\log4netConfig.config"/>
    <add key="rutaFidia" value="C:\Pruebas\Fidia"/>
    <add key="minutosMinParada" value="120"/> <!--Minutos de parada que se tienen que dar para que se ejecute-->    
    <add key="minutosDescarteCambioTroq" value="240"/> <!--Minutos para que en caso de exceder, se descarte el cambio de troquel-->
  </appSettings>
  <connectionStrings>
    <add name="SABTEST" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=igalirrintza.batz.es)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=garapen)));User Id=sab;Password=sab12;Connection LifeTime=300;"/>
    <add name="AUTOMNTOTEST" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=igalirrintza.batz.es)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=garapen)));User Id=automnto;Password=automnto12;Connection LifeTime=300;"/>
    <add name="XBATTEST" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=igalirrintza.batz.es)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=garapen)));User Id=xbat;Password=12xbat12;Connection LifeTime=300;"/>    
    <add name="OLANETTEST" connectionString="Data Source=Btzsqldb1\MSSQLINS1;database=Olanet_Batz_Eus;User Id=olanetigorre;Password=igorreolanet;Connection LifeTime=300;"/>
    <add name="DBIZAROTEST" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=igalirrintza.batz.es)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=garapen)));User Id=dbizaro;Password=dbizaro12;Connection LifeTime=300;"/>    
    <add name="SABLIVE" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=ora19-scan)(PORT=1523))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic)(RETRIES=10)(DELAY=1))(SERVER=dedicated)(SERVICE_NAME=xbatsrv.batz.es)));User Id=sab;Password=sab12;Connection LifeTime=300;"/>      
    <add name="AUTOMNTOLIVE" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=ora19-scan)(PORT=1523))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic)(RETRIES=10)(DELAY=1))(SERVER=dedicated)(SERVICE_NAME=xbatsrv.batz.es)));User Id=automnto;Password=automnto12;Connection LifeTime=300;"/>														   
	<add name="XBATLIVE" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=ora19-scan)(PORT=1523))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic)(RETRIES=10)(DELAY=1))(SERVER=dedicated)(SERVICE_NAME=xbatsrv.batz.es)));User Id=xbat;Password=12xbat12;Connection LifeTime=300;"/>    
    <add name="OLANETLIVE" connectionString="Data Source=Btzsqldb1\MSSQLINS1;database=Olanet_Batz_Eus;User Id=olanetigorre;Password=igorreolanet;Connection LifeTime=300;"/>
    <add name="DBIZAROLIVE" connectionString="Data Source=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=ora19-scan)(PORT=1523))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic)(RETRIES=10)(DELAY=1))(SERVER=dedicated)(SERVICE_NAME=xbatsrv.batz.es)));User Id=dbizaro;Password=dbizaro12;Connection LifeTime=300;"/>    
  </connectionStrings>
    <system.diagnostics>
        <sources>            
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>                 
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>            
        </sharedListeners>
    </system.diagnostics>
</configuration>
