<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Entities_BezerreSis" connectionString="metadata=res://*/Models.Modelo_BezerreSis.csdl|res://*/Models.Modelo_BezerreSis.ssdl|res://*/Models.Modelo_BezerreSis.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=XBAT;PASSWORD=bezerresis12;PERSIST SECURITY INFO=True;USER ID=bezerresis&quot;" />
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="BEZERRESIS" connectionString="Data Source=XBAT;User Id=bezerresis;Password=bezerresis12;Connection LifeTime=300;validate connection=True;ha events=False;" />
    </connectionStrings>
  <appSettings>
    <add key="CurrentStatus" value="Live" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RutaArchivosReclamaciones" value="\\svm_cifs.batz.es\AReaWeb\DATA\PRO\Bezerresis\FicherosReclamación\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <log4net>
    <appender>
      <file xdt:Transform="SetAttributes" value="\\svm_cifs.batz.es\AreaWeb\LOGS\PRO\INT\BezerreSis\Log"/>
    </appender>
    <root>
      <appender-ref xdt:Transform="Remove" xdt:Locator="Match(ref)"  ref="SmtpAppender"/>
      <appender-ref xdt:Transform="Insert" ref="SmtpAppender"/>
    </root>
  </log4net>
</configuration>
