<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="AccederEnLocal" value="true" />
    <add key="LocalPath" value="\\svm_cifs\AreaWeb\DATA\PRO\LanguageAdministration\language\" />
    <add key="emailFrom" value="batzskoop@batz.es" />
    <add key="RecursoWeb" value="260" />
    <add key="CurrentStatus" value="Debug" />
    <add key="rutaTratamiento" value="c:\Pruebas\Nominas\Encriptacion" />
    <add key="XCopyExe" value="c:\tools\robocopy.exe" />
    <add key="maquinaImpresion" value="stagarcia" />
    <add key="rutaLogs" value="\\svm_cifs\AreaWeb\LOGS\TEST\INT\Nominas" />
    <add key="rutaExeDoc" value="C:\Proyectos\Batz\Trunk_4\SBatz\Nominas\Procesar10T\bin\Debug\Procesar10T.exe" />
    <!--El tema de la impresion ya no se usa-->
    <add key="rutaPdfImpresion" value="\\atxak\cor" />
    <add key="servidorImpresion" value="atxak" />
    <add key="mes2011Imprimible" value="10" />
    <add key="startingYear" value="2019"/>
    <!--Indica a partir de que mes se podran imprimir las nominas. Se tienen que haber encriptado correctamente-->
  </appSettings>
  <connectionStrings>
    <add name="SABTEST" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;" />
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;" />
    <add name="GESTIONHORASTEST" connectionString="User Id=gestionhoras;Password=gestionhoras12;Data Source=XBAT;" />
    <add name="GESTIONHORASLIVE" connectionString="User Id=gestionhoras;Password=gestionhoras12;Data Source=XBAT;" />
    <add name="EPSILON" connectionString="Data Source=arrabakoate.batz.es;database=bd_epsilon;User Id=usr_epsilon_r;Password=uYGf2eq5oA;Connection LifeTime=60;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <pages theme="Tema1" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
      <controls>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="uc" tagName="CargandoDatos" src="~/Controles/PanelCargandoDatos.ascx" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <authentication mode="Windows" />
    <!--ExecutionTimeOut: Indica que al de 120 segundos, tomara como fallido el intento -->
    <!--MaxRequestLength: Limita a 10MB los ficheros subidos-->
    <httpRuntime executionTimeout="600" maxRequestLength="102400" requestValidationMode="2.0"/>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669E0DDF0BB1AA2A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28F01B0E84B6D53E" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1.1.0" newVersion="18.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>