<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CurrentStatus" value="Live"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="rutaTratamiento" value="C:\Services\Nominas\Encriptacion"/>    
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="maquinaImpresion" value="stagarcia"/>    
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="rutaLogs" value="\\svm_cifs\AreaWeb\LOGS\PRO\INT\Nominas"/>        
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="rutaExeDoc" value="C:\Services\Procesar10T\Procesar10T.exe"/>
  </appSettings>
  <connectionStrings>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@name,'TEST'))" connectionString="" name="" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)"/>
  </system.web>
  <system.webServer xdt:Transform="Insert">
    <defaultDocument enabled="true">
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="102400000" />
      </requestFiltering>
      <authentication>
        <windowsAuthentication  enabled="true"  />
        <anonymousAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
</configuration>