body{line-height:16px;margin:1em;}
strong{font-weight:bold;}
h3{font-weight:bold;padding:0.5em 0;}
.field-validation-error{color: #ff0000;}
.field-validation-valid{display: none;}
.input-validation-error{border: 1px solid #ff0000;background-color: #ffeeee;}
.validation-summary-errors{font-weight: bold;color: #ff0000;}
.validation-summary-valid{display: none;}

fieldset{border:1px solid #A8A8A8;padding:0.5em 0 0.5em 1em;}
fieldset label{font-weight:bold;}
legend {padding: 0.2em 0.5em;border:1px solid #A8A8A8;font-size:80%;text-align:right;}
#menu1 ul li a{min-width:8em; display:inline-block;}
#menu1 ul li.seleccionado{background-color:#b3b3b3}
#contenido1{text-align:left;}

.table3{border:1px solid #A8A8A8; font-size:0.8em;}
.table3 td,.table3 th {border:1px solid #A8A8A8;padding:0.2em;}
.table3 th{font-weight:bold; background-color:#c3c3c3;}
.table3 tr:hover{background-color:#9bd19b;}
.table3 input[type=text]{width:5em;}
a.rowclick{color:#000;}
a.rowclick:hover{text-decoration:none;}

span.note{font-weight:lighter;font-size:0.8em;}
strong{font-weight:bold;}
.warn{color:Red;}

div.ph1{border-bottom:1px solid #c3c3c3;}
div.ph2{float:left;width:80%;}
div.ph2 input[type=text]{width:80%;}
div.ph2 div{float:left;width:49%;}
div.ph2 div table{font-size:0.8em;}
div.ph2 div table tr{border:1px solid #c3c3c3;}
div.ph3{float:left;width:20%;}