<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>        
    <add key="LanguageFile" value="\\svm_cifs\AreaWeb\DATA\TEST\LanguageAdministration\language\" />
    <add key="CurrentStatus" value="Debug" />
    <add key="AccederEnLocal" value="true" />
    <add key="LocalPath" value="\\svm_cifs\AreaWeb\DATA\TEST\LanguageAdministration\language\" />    
    <add key="idRecurso" value="476" />
  </appSettings>
  <connectionStrings>
    <add name="SABTEST" connectionString="Data Source=GARAPEN;User Id=sab;Password=sab12;Connection LifeTime=300;" />
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;" />        
    <add name="BI_CR_Igorre" connectionString="Data Source=BTZSQLDB1\MSSQLINS1;Initial Catalog=BI_CR_Igorre;Persist Security Info=True;User ID=BtzSqlLoginWriter;Password=btzsw" providerName="System.Data.SqlClient" />
    <add name="BI_CR_Igorre_DESA" connectionString="Data Source=BTZSQLDB1\MSSQLINS1;Initial Catalog=BI_CR_Igorre_DESA;Persist Security Info=True;User ID=BtzSqlLoginWriter;Password=btzsw" providerName="System.Data.SqlClient" />
	<!--<add name="usuarios" connectionString="Data Source=BTZSQLDB1\MSSQLINS1;Initial Catalog=usuarios;Persist Security Info=True;User ID=SqlJobUser;Password=heladocervezaverde;Min Pool Size=20;Connect Timeout=150" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
    <authentication mode="Windows" />
  </system.web>
</configuration>