<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebRaiz.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CostCarriersLib.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--=========================================================================================-->
    <add key="LocalPath" value="\\svm_cifs.batz.es\AreaWeb\DATA\PRO\LanguageAdministration\language\" />
    <add key="CurrentStatus" value="Debug" />
    <add key="RecursoWeb" value="455" />
    <add key="MailFrom" value="costcarriers@batz.es" />
    <add key="IdSABPlantasMostrar" value="1,6,4,5,107,147,87,47" />
    <add key="UsuariosCambio" value="batznt\abelgarcia,batznt\molivares,batznt\aozerinjauregi,batznt\FBurguera,batznt\jroque,batznt\diglesias" />
    <add key="NotificacionesActivas" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="SABTEST" connectionString="Data Source=GARAPEN;User Id=sab;Password=sab12;Connection LifeTime=300;" />
    <add name="SABLIVE" connectionString="Data Source=XBAT;User Id=sab;Password=sab12;Connection LifeTime=300;" />
    <add name="COSTCARRIERSTEST" connectionString="Data Source=GARAPEN;User Id=costcarriers;Password=costcarriers12;Connection LifeTime=300;" />
    <add name="COSTCARRIERSLIVE" connectionString="Data Source=XBAT;User Id=costcarriers;Password=costcarriers12;Connection LifeTime=300;" />
    <add name="BRAIN" connectionString="Provider=IBMDA400;Data Source=LEKANDA.batz.es;User Id=COGNOS;Password=cognos07;" />
    <add name="CN_EPSILON" connectionString="Data Source=arrabakoate.batz.es;database=bd_epsilon;User Id=usr_epsilon_rw;Password=ggjK9ET70I;Connection LifeTime=60;" />
    <add name="NavisionZamudio" connectionString="Data Source=arrabakoate.batz.es;database=NavFpkZamudio;User Id=NavRead;Password=L4ubZ206;" />
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--<compilation debug="true" targetFramework="4.6"/>-->
    <httpRuntime targetFramework="4.6" maxRequestLength="5120" />
    <trace enabled="true" pageOutput="true" localOnly="true" />
    <compilation targetFramework="4.8" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.23.1" newVersion="4.122.23.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <WebRaiz.My.MySettings>
      <setting name="WebEnsamblado_ServicioSoliciudesCompra_Service" serializeAs="String">
        <value>https://intranet2.batz.es/solicitudescompra/webservice/service.asmx</value>
      </setting>
    </WebRaiz.My.MySettings>
    <CostCarriersLib.My.MySettings>
      <setting name="CostCarriersLib_ServicioBonos_ServicioBonos" serializeAs="String">
        <value>https://intranet2.batz.es/BonosSis/Publico/ServicioBonos.asmx</value>
      </setting>
      <setting name="CostCarriersLib_ServicioOfertaTecnica_ServiceCostCarriers" serializeAs="String">
        <value>https://intranet2.batz.es/OfertaTecsis/Publico/ServiceCostCarriers.asmx</value>
      </setting>
    </CostCarriersLib.My.MySettings>
  </applicationSettings>
  <location path="WebService">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>